<h1>Movies</h1>
<table>
  <tr>
    <th><%= link_to "Title", sort: "title" %></th>
    <th><%= link_to "Rating", sort: "rating" %></th>
    <th><%= link_to "Release Date", sort: "release_date" %></th>
    <th>Action</th> <!-- Add a new column header for actions -->
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.release_date %></td>
      <td><%= link_to "Show", movie %></td> <!-- Show link for each movie -->
    </tr>
  <% end %>
</table>

<%= link_to "New movie", new_movie_path %>

